* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    color: #0000008c;
    margin-bottom: 60px;
}

.conteudo {
    width: 100%;
    margin: 0;
    background-color: rgb(87,203,209);
}

.titulo-sections {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.titulo-sections h2 {
    margin: 0;
}

/*########## ESTILO TOPO ########## */

header {
    width: 100vw;
}

header .conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    padding: 0 60px;
    margin: 0 auto;
}

.logo-topo {
    font-weight: 600;
    font-size: 28px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-topo a {
    display: flex;
}

.logo-topo img {
    height: 60px;
}

.links-topo {
    display: flex;
}

.links-topo a {
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.links-topo a:hover {
    color: #808080;
}

/* ########## FIM ESTILO TOPO ########## */

/* ########## ESTILO RODAPÉ ########## */

footer {
    background-color: rgb(87,203,209);
    color: #fff;
    padding: 20px;
}

footer .conteudo {
    text-align: center;
}

/* ########## ESTILO MAIN ########## */

#sobre,
#especialidades,
#contato {
    padding: 40px 20px 0;
}

.background-home {
    background-image: url('../assets/recepcao.png');
    position: relaitve;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

#texto-home {
    height: 100%;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
}

#texto-home h1 {
    font-weight: 500;
    font-size: 38px;
    margin: 0;
}

.titulo-sections {
    margin: 20px auto;
}

#lista-itens {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lista-itens h3 {
    font-weight: 500;
}

#lista-itens img {
    height: 250px;
}

#foto-especialidades {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-especialidades {
    border-radius: 3px;
    box-shadow: 3px 3px 3px #808080;
    margin: 20px;
    width: calc(100% / 3 - 40px);
}

.box-especialidades img {
    width: 100%;
}

.box-especialidades figcaption {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.box-horarios {
    text-align: center;
    margin: 20px auto;
}

.link-horarios {
    background-color: #00cad1;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
}

.container-rota iframe {
    width: 100%;
}

/* ########## INÍCIO DO RESPONSIVO ########## */

@media (max-width: 1024px) {
    .background-home {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .background-home { height: 300px; }
    #lista-itens img { display: none; }
    #foto-especialidades { justify-content: center; }
}

@media (max-width: 425px) {
    .background-home { height: 200px; }
    #texto-home h1 { font-size: 28px; }
    #foto-especialidades { width: 100%; }
    #foto-especialidades { padding: 10px 20px; }
}